<form method='post'>
{% csrf_token %}
{% for field in form %}
  <div>
     {{ field.label }}:{{ field }} 
     {{ field.errors }}
  <div>
{% endfor %}
<input type="submit" value="提交">
</form>
<table border="1">
<tr><th>id</th> <th>name</th> <th>number</th> <th>units</th> <th>total</th> <th>remark</th></tr>
{% for i in dlist1 %}
<tr>
{% for j in i %}
<th>{{ j }}</th>
{% endfor %}
</tr>
{% endfor %}
</table>

<table border="1">
<tr><th>id</th> <th>name</th> <th>funds</th> <th>remark</th></tr>
{% for i in dlist2 %}
<tr>
{% for j in i %}
<th>{{ j }}</th>
{% endfor %}
</tr>
{% endfor %}
</table>